#label-one {
    color: purple;
  }
  
  #label-two {
    color: green;
  }
  label{
    color: rgb(73, 199, 23);
  
 

  }

.mytextclass{
  color: brown;
}
form{
  margin-top: 10px;
 
  width: 150pt;
  
}
input{
width: 300px;

}
button{
padding-block: 300px;
 
}




 

